MYSQL_HOST=127.0.0.1
MYSQL_PORT=3307
MYSQL_USER=appuser
MYSQL_PASSWORD=apppass
MYSQL_DATABASE=appdb
HTTP_PORT=8080
TEST_MYSQL_DSN=appuser:apppass@tcp(127.0.0.1:3307)/appdb?parseTime=true&multiStatements=true
